{{- if eq .chezmoi.os "darwin" -}}
{{- range .packages }}
brew install {{ . | quote }}
{{- end }}
{{- else if eq .chezmoi.os "linux" -}}
  {{- if eq .chezmoi.osRelease.id "debian" -}}
sudo apt install --no-install-recommends -y {{ .packages | join " " }}
  {{- end }}
  {{- if eq .chezmoi.osRelease.id "arch" -}}
sudo pacman -S {{ .packages | join " " }}
  {{- end }}
{{- end -}}
